flows/Simple_Newsletter.json
{
  "name": "Simple Newsletter 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -160
      ],
      "id": "d4964bab-3b4f-4150-9b1d-063259ef4883",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd314589-046f-4680-99b1-6ac2e24629e0",
              "name": "artigo",
              "value": "=<titulo>\n{{ $json.title }}\n</titulo>\n\n<conteudo>\n{{ $json.contentSnippet }}\n</conteudo>\n\n<link>\n{{ $json.link }}\n</link>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -160
      ],
      "id": "44bece13-08e9-42a4-8811-c8a2f3da6051",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "artigo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        780,
        -160
      ],
      "id": "7630dfeb-5966-4e30-b648-c1dd7638c29b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        840,
        80
      ],
      "id": "b9b6e352-f22e-441b-9292-0e04b6cae815",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "1bILc1uyzFW0lJTw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.artigo }}",
        "messages": {
          "messageValues": [
            {
              "message": "=## PRINCE - Newsletter Generator\n\n### 🅟 PAPEL\n- Você é um especialista em criação de newsletters profissionais, com domínio de copywriting, UX Writing e comunicação objetiva para e-mail marketing.\n\n### 🅡 REGRAS\n1. Nunca repita itens.\n2. Cada notícia deve conter exatamente 500 caracteres (tolerância de ±10 caracteres).\n3. O título deve ter até 70 caracteres, ser objetivo, atrativo e informativo.\n4. Após o título, insira uma quebra de linha.\n5. Crie um resumo da notícia claro, direto e com contexto suficiente.\n6. Adicione o link com o texto \"**Saiba mais**\" logo após o resumo.\n7. Utilize formatação em **markdown**.\n8. Não utilize saudações, rodapés ou assinaturas fora da newsletter.\n\n\n### 🅘 INSTRUÇÕES\n- Você receberá um array de artigos.\n- Cada artigo possui: **título, descrição e link**.\n- Para cada artigo, gere:\n   - Um título resumido (máximo 70 caracteres).\n   - Uma quebra de linha.\n   - Um resumo com 500 caracteres, bem escrito e coeso.\n   - O link no formato: **[Saiba mais](link)** e adicione 1 emoji antes.\n\n### 🅝 NORTE / OBJETIVO\n- Gerar uma newsletter clara, objetiva e de fácil leitura, que informe rapidamente o leitor sobre os temas abordados, mantendo uma comunicação profissional, leve e eficiente.\n\n### 🅒 CONTEXTO\n- A newsletter é destinada a um público que deseja se manter atualizado com informações rápidas, relevantes e organizadas, sem excesso de texto.  \n- O foco é trazer informações de forma enxuta, atraente e bem distribuída, favorecendo a escaneabilidade do conteúdo por e-mail.\n- Adicione um emoji no início de cada título que represente visualmente o tema da notícia. Escolha emojis relevantes e coerentes. Utilize apenas 1 emoji por título.\n\n### 🅔 EXPECTATIVA DE SAÍDA\n- Retorne sempre em **markdown**.\n- Para cada artigo:\n   - Gere um título de até 70 caracteres.\n   - Insira uma quebra de linha.\n   - Crie um resumo de 500 caracteres (tolerância ±10).\n   - Adicione o link formatado como: **[Saiba mais](link)**.\n- Siga rigorosamente este padrão, sem adicionar qualquer conteúdo extra fora desse formato.\n\n\n### 📜 EXEMPLO DE SAÍDA\n\n## Google lança IA para desenvolvedores\n\nO Google anunciou uma nova IA para desenvolvedores que promete acelerar tarefas de codificação, gerar sugestões inteligentes e integrar-se com ferramentas populares. A novidade impacta diretamente a produtividade das equipes de tecnologia, oferecendo mais eficiência no desenvolvimento de software. 👉 [Saiba mais](https://exemplo.com)\n\n---\n\n## 🔒 Nova brecha de segurança no Windows\n\nUma vulnerabilidade crítica no Windows permite que hackers executem códigos remotamente, afetando milhões de dispositivos globalmente. A Microsoft já trabalha em um patch de segurança, mas os usuários são aconselhados a aplicar medidas temporárias para se protegerem enquanto aguardam uma atualização oficial. 👉 [Saiba mais](https://exemplo.com)\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1020,
        -160
      ],
      "id": "3d944cae-c676-4b3d-a621-89560308601b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd314589-046f-4680-99b1-6ac2e24629e0",
              "name": "artigo",
              "value": "=<titulo>\n{{ $json.title }}\n</titulo>\n\n<conteudo>\n{{ $json.contentSnippet }}\n</conteudo>\n\n<link>\n{{ $json.link }}\n</link>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -380
      ],
      "id": "dcdf151b-2ce7-432c-b3ba-fb7bb67760e2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd314589-046f-4680-99b1-6ac2e24629e0",
              "name": "artigo",
              "value": "=<titulo>\n{{ $json.title }}\n</titulo>\n\n<conteudo>\n{{ $json.contentSnippet }}\n</conteudo>\n\n<link>\n{{ $json.link }}\n</link>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        60
      ],
      "id": "3885c00c-0be0-4759-abeb-b5a124dbb2c1",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        -160
      ],
      "id": "bb0f33fc-b50b-4e7b-ba48-8a925cfa9578",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.bcb.gov.br/api/feed/sitebcb/sitefeeds/cambio",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -120,
        60
      ],
      "id": "9e1255e5-d578-46f1-a031-ccdc1a124ef9",
      "name": "RSS Câmbio Banco Central"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        60,
        60
      ],
      "id": "e4a66be6-0e2a-4666-afd6-6636913df38c",
      "name": "Limit Câmbio"
    },
    {
      "parameters": {
        "url": "https://blog.playstation.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -120,
        -380
      ],
      "id": "c6cd3529-45d7-4333-8889-79cec91464a2",
      "name": "RSS PlayStation"
    },
    {
      "parameters": {
        "url": "https://g1.globo.com/rss/g1/mundo/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -120,
        -160
      ],
      "id": "be2e8cda-f9b3-4e24-8f84-b9e0ef643a62",
      "name": "RSS G1 Mundo"
    },
    {
      "parameters": {
        "maxItems": 4
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        60,
        -380
      ],
      "id": "50aa1ea9-e996-4932-8bb0-3904b1c12fbc",
      "name": "Limit PS"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        60,
        -160
      ],
      "id": "ec83a188-450a-4f04-9fd5-1c82b26599ec",
      "name": "Limit Mundo"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1380,
        -160
      ],
      "id": "4d5c456e-b934-449d-8524-d15fe8f25254",
      "name": "Markdown"
    },
    {
      "parameters": {
        "sendTo": "chrystine.martins@outlook.com, chrystine.academico@gmail.com, gercineiaguiar@yahoo.com.br, marlyvasconcelos@gmail.com, greg.tavaresdevasconcelos@yahoo.com.br",
        "subject": "News Diárias",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1580,
        -160
      ],
      "id": "08303483-3d7e-4ac0-bd1a-fa96d9db5ec6",
      "name": "Send a message",
      "webhookId": "e3756105-1786-4b08-80fb-5395d8d271ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "hIpcydKD2t4kQu7J",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-06-23T19:21:12.458-03:00",
          "Readable date": "June 23rd 2025, 7:21:12 pm",
          "Readable time": "7:21:12 pm",
          "Day of week": "Monday",
          "Year": "2025",
          "Month": "June",
          "Day of month": "23",
          "Hour": "19",
          "Minute": "21",
          "Second": "12",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS PlayStation",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS G1 Mundo",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Câmbio Banco Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Câmbio Banco Central": {
      "main": [
        [
          {
            "node": "Limit Câmbio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Câmbio": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS PlayStation": {
      "main": [
        [
          {
            "node": "Limit PS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS G1 Mundo": {
      "main": [
        [
          {
            "node": "Limit Mundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit PS": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Mundo": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d9a4c38-e9f3-4d83-a2c5-c2852ef1642e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76be7fedf731be1e7598db8b843ce1c2f24dd7046fe84bc356e0e5acb5c4ea59"
  },
  "id": "gFn76kIMgpU5wLM3",
  "tags": []
}